---
# tasks file for imbicile.docker

# prepare install
- name: Prepare install
  ansible.builtin.apt:
    pkg:
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
    update_cache: true
    state: latest

# prepare handlers
- name: Populate service facts
  ansible.builtin.service_facts:

# install
- name: Install config
  ansible.builtin.include_tasks: config.yml

- name: Install docker
  ansible.builtin.include_tasks: install.yml

# containers
- name: Install containers
  ansible.builtin.include_tasks: container.yml
